/* Custom Fonts */
@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Bold.eot');
    src: url('fonts/PPT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Bold.woff') format('woff'),
         url('fonts/PT-Sans-Bold.ttf') format('truetype'),
         url('fonts/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Italic.eot');
    src: url('fonts/PPT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Italic.woff') format('woff'),
         url('fonts/PT-Sans-Italic.ttf') format('truetype'),
         url('fonts/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-BoldItalic.eot');
    src: url('fonts/PPT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-BoldItalic.woff') format('woff'),
         url('fonts/PT-Sans-BoldItalic.ttf') format('truetype'),
         url('fonts/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* End Custom Fonts */

html {
	background-color: #869960;
	line-height: 1.7;
}

body {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 15px;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

/* Birds Background Demo */
.birds {
	background-color: #c2bbb1;
 	background-size: cover;
	text-align: center;
	padding: 100px 0;
	background-image: url(bird.jpg); /*Ruta de la imagen*/
	background-position: center; /*Para que coja el centro de la imagen y se vea como en el ejemplo*/
	background-size:cover; /*Para que ocupe el ancho del elemento*/
}

.birds p {
	margin: 0;
	background-color: rgba(0, 0, 0, .7);
	color: #FFF;
	text-shadow: 1px 1px 0 #000;
	display: inline-block;
	padding: 10px;
}

/* End Birds Demo */

/* Main Column Typography */
.main-area h2 {
	font-size: 200%;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 4px;
	word-spacing: 10px;
	text-transform: lowercase;
}

.main-area p {
	font-size: 108%;
}

/* Banner Overlay */
.image-banner {
	position: relative;
}

.image-banner img {
	display: block;
}

.banner-description {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	background-color: rgba(0, 0, 0, .65);
	padding: 15px 25px;
}

.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	padding-top: 15px;
	padding-left: 40px;
	box-sizing: border-box;
	background-image: url(color-tile.png), url(color-tile.png); /*Añadimos las dos imagenes*/
	background-repeat: repeat-x, repeat-x; /*Propiedades para la primera y segunda imagen*/
	background-position: top, bottom; /*Ubicacion de una imagen y de la otra (Misma imagen arriba y abajo)*/
}

header {
	padding-top: 20px;
	color: #617140;
	background-image: url(flower.jpg); /*Ruta de la imagen*/
	background-position: center; /*Mismo caso que en la imagen del pajaro*/
	background-size: cover;/*Mismo caso que en la imagen del pajaro*/

}

header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 165%;

}

header p {
	margin: 0;
}

/* Site Navigation */
.site-nav {
	margin-top: 20px;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

.site-nav a {
	display: block;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
	background-color: #FFF;
	border: 3px solid #e5e9dc;
	border-bottom: none;
}

.site-nav a:hover {
	background-color: #e5e9dc;
}

/* End Site Navigation */


.content-area {
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

.sidebar {
	width: 34%;
	float: left;
	background-color: #e5e9dc;
	padding: 20px 40px;
	box-sizing: border-box;
	font-size: 114%;
	background-image: linear-gradient(to bottom, rgb(255, 255, 255),rgba(255, 255, 255, 0)), url(verde.jpg);
/*Añadida la imagen, transicion de blanco al mismo blanco, pero con transparencia total, de modo que la imagen verde se vaya viendo de arriba a abajo estando abajo al 100% de su color*/
}

footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding-bottom: 20px;
	padding-top: 20px;
}

.fix {
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}